# registry=https://npm.pkg.github.com/UnumID
# registry=https://registry.npmjs.org

# Trying to authenticate in docker to pull from private github node module registry ref: https://blog.risingstack.com/private-npm-with-docker/
# //npm.pkg.github.com/UnumID:_authToken=${NPM_TOKEN}
# registry=https://npm.pkg.github.com/UnumID:_authToken=${NPM_TOKEN}