# registry=https://npm.pkg.github.com/UnumID
# registry=https://registry.npmjs.org
# //npm.pkg.github.com/UnumID:_authToken=${NPM_TOKEN}
# registry=https://npm.pkg.github.com/UnumID:_authToken=${NPM_TOKEN}